<nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong navbar-custom">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" style="border: 2px solid rgb(210,101,33); border-radius: 10%; margin-right: 35px">
            <a class="nav-link active" aria-current="page" href="/loginned">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="margin-left: 15px; color:rgb(210, 101, 33);padding: 6px 16px; scale:1.2" href="/final"><i class="fa-solid fa-cart-shopping"></i></a>
        </li>
       
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
         <li class="nav-item" style="border: 2px solid rgb(210,101,33); border-radius: 10%;">
          <a class="nav-link" href="/logout">LOGOUT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>